:root {
    --light-color: #f0efe7;
    --dark-color: #27292a;
    --purple-color: #9c27b0;
    --indigo-color: #4c0082;
    --red-color: #ff0000;
    --pale-purple-color: #df61f57a;
    --pale-grey-color: #9e9e9eb2;
    --grey-color: #888888b2;
    --grey-dark-color: #444;
    --yellow-color: gold;
    --green-color: #4caf50;
    --tag-color: #4caf50;
    --transition: .2s;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-color);
    text-align: justify;
}

/** scrollbar **/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--green-color); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--purple-color); 
}

#search-result {
    max-height: 40vh;
    overflow-y: scroll;
    opacity: 1;
}

.main-header {
    background-color: var(--dark-color);
    width: inherit;
    color:indigo;
    text-align: center;
    text-shadow: 0px 2px 3px orange;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.header {
    background-color: var(--pale-purple-color);
}

.subheader {
    background-color: var(--pale-grey-color);
}

.left-panel {
    background-color: var(--dark-color);
    color: var(--light-color);
    height: 100vh;
}

.right-panel {
    transition: 1s;
    background: var(--light-color);
    color: black;
    float: right;
}

.left-panel-content {
    position: fixed;
    height: 100vh;
    width: inherit;
}

.voyeur {
    opacity: 0;
    transition: var(--transition);
    position: absolute;
    padding: 4px;
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 3px groove var(--purple-color);
    border-radius: 4px;;
}

.voyeur-hidden {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -999;
}

.setting {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: end;
}

/* tag */
.tag {
    padding: 1px;
    border: .5px ridge green;
    background: var(--green-color);
    color: var(--light-color);
    cursor: pointer;
}

.tag:hover {
    background-color: var(--grey-color);
}

.tag-nostyle {
    background: inherit;
    color: black;
    cursor: pointer;
}

/* variable */
.v {
    font-weight: 600;
    color: var(--purple-color);
}

.command-definition {
    color: black;
    background: linear-gradient(to right, var(--pale-grey-color), var(--light-color));
}

.command-definition :nth-child(1) {
    font-weight: bold;
}


.file-btn {
    cursor: pointer;
    transition: var(--transition);
    font-weight: bolder;

    border-top: solid transparent;
    border-bottom: solid transparent;
    border-left: solid none;
    border-right: solid none;

    background-color: var(--dark-color);
    color: var(--pale-grey-color);
    text-shadow: 0px -2px 1px black;
    text-align: center;
}

.file-btn:hover {
    border-top: solid var(--yellow-color);
    border-bottom: solid var(--yellow-color);
    color: var(--yellow-color);
}

.bold {
    font-weight: bold;
}

.greyed {
    color: var(--grey-dark-color);
}

table {
    max-width: 50%;
}

td > .t {
    background-color: var(--light-color) !important;
    color: black;
}

a {
    text-decoration: none;
}

pre {
    font-family: 'Courier New', Courier, monospace;
}

input {
    transition: var(--transition);
    border-radius: 10px;
    padding: 4px;
}

input:focus {
    outline: none;
    background: black;
    color: var(--yellow-color);
}

/* variable */
q {
    color: var(--purple-color);
}

q:before,q:after{content:''}

legend {
    font-weight: bold;;
}

hr {
    border-bottom: .5px dashed var(--purple-color);
}

/* * {outline: 0.5px solid blue !important;} */